@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>
        body {
            background-color: greenyellow;
            color: blue;
        }

        h2 {
            color: white;
            text-decoration-line: overline;
            text-decoration-color: blue;
        
        }

        div {
            background-color: lightpink;
            color: white;
        }
    </style>
</head>
<body>
    <h2>Before Preceeding any Further make sure to Watch all the Movies of Tom Cruise.</h2>
</body>
</html>



